html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #4a4a4a;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*END OF RESET*/
:root {
  --primaryColor: whitesmoke;
  --secondaryColor: black;
  --thirdColor: #be0032;
  --primaryFont: "Helvetica";
  --fontSizeOne: 22px;
  --fontSizeTwo: 18px;
  --fontSizeThree: 15px;
}

html {
  background-color: var(--primaryColor);
  font-size: var(--fontSizeOne);
  height: 3000px;
}

.header {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
}

.header__nav {
  margin-top: 80px;
  position: fixed;
  width: 150px;
  height: auto;
}

.header__ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media not all and (hover: none) {
  .header__button:hover {
    color: var(--thirdColor);
    font-weight: 600;
  }
}
.header__button--main {
  margin-bottom: 0px;
}

.product {
  display: grid;
  width: 60%;
  height: auto;
  grid-template-columns: repeat(3, auto-fit, minmax(100px, 1fr));
  grid-template-rows: masonry;
}

.product__card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: auto;
  background: white;
  border-radius: 3px;
}

.product__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  height: auto;
}

.product__text {
  margin: 0 0.6rem 0.6rem;
}

.product__headline {
  margin-top: 1rem;
  font-size: var(--fontSizeOne);
}

.product__description {
  margin-top: 0.7rem;
  font-size: var(--fontSizeTwo);
}

.product__price {
  margin-top: 0.7rem;
  font-size: var(--fontSizeThree);
}

.product__card--two {
  grid-column: 2;
}

.product__card--three {
  grid-column: 3;
}/*# sourceMappingURL=style.css.map */