html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}


a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #4a4a4a;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse:collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/*END OF RESET*/

:root {
    --primaryColor: whitesmoke;
    --secondaryColor: black;
    --thirdColor: rgb(188, 0, 45);
    --fourthColor: #536872;
    --primaryFont: "Montserrat";
    --secondaryFont: "Roboto";
    --fontSizeOne: 20px;
    --fontSizeTwo: 18px;
    --fontSizeThree: 15px;
    --fontSizeFourth: 13px;
}

@mixin header__ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 80px 1rem 0 1rem;
    align-items: center;
}

@mixin default__grid {
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-auto-rows: min-content;
    grid-auto-flow: row;
}

html {
    background-color: var(--primaryColor);
    font-size: var(--fontSizeOne);
    cursor: default;
}

body {
    height: auto;
    width: 100%;
    overflow-x: hidden;
}



.header {
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: center;
    font-family: var(--primaryFont);
}

.header__nav {
    position: fixed;
    width: 220px;
    height: auto;
}


.header__ul {
    @include header__ul()
}


@media not all and (hover: none) {
    .header__button:hover {
      color: var(--thirdColor);
      font-weight: 600;
    }
}

.header__button--main {
    font-weight: 600;
    white-space: nowrap;
}

.header__hero {
    display: flex;
    gap: 5px;
    text-align: center;
    padding-left: 19px;
}


.header__svg {
    width: 1rem;
    height: 1rem;
}


/* HAMBURGER MENU START */

#header__ham {
    display: none;
}

#header__ham__toggle {
    position: relative;
    user-select: none;
}

#header__ham input {
    display: none;
}

#header__ham__toggle input:checked ~ ul {
    right: -52px;
}


#header__ham__box {
    width: 40px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

@media not all and (hover:none) {
    #header__ham__lines:hover {
        cursor: pointer;
    } 
}

#header__ham__lines {
    width: 100%;
    height: 3px;
    background-color: var(--thirdColor);
    z-index: 11;
}

#header__ham__ul {
    background-color: white;
    width: 150px;
    height: 200px;
    position: absolute;
    padding: 50px 20px 10px;
    right: -20rem;
    top: -20px;
    transition: right 0.6s ease-in-out;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
    border: 2px solid var(--thirdColor);
    text-align: center;
    border-radius: 2px;
    z-index: 10;
}


/* HAMBURGER MENU END */


.product {
    display: grid;
    @include default__grid();
    max-width: 64vw;
    height: auto;
    row-gap: 40px;
    column-gap: 20px;
    position: relative;
    left: 400px;
    top: 80px;
    padding-bottom: 20px;
    justify-content: center;
}


.product__card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 600px;
    background: white;
    border-radius: 3px;
    z-index: 5;
}

.product__visuals {
    display: flex;
    flex-direction: column;
}


.product__card--left {
    min-height: 550px;
}

.product__card--almostlast {
    max-height: 470px;
}

.product__card--last {
    max-height: 380px;
}


.product__image {
    display: flex;
    max-width: auto;
    max-height: 300px;
    flex-basis: 300px;
    object-fit: cover;
}

.product__image--left {
    max-height: 500px;
}

.product__image--almostlast {
    height: 450px;
}


.product__text {
    margin: 0 0.6rem 0.6rem;
}

.product__headline {
    margin-top: 1rem;
    font-size: var(--fontSizeOne);
    font-family: var(--primaryFont);
}

@media not all and (hover: none) {
    .product__headline:hover {
        color: var(--thirdColor);
        cursor: pointer;
    }
}


.product__description {
    margin-top: 0.7rem;
    font-size: var(--fontSizeTwo);
    font-family: var(--primaryFont);
    line-height: 1.2;
}

.product__price {
    margin-top: 0.7rem;
    font-size: var(--fontSizeThree);
    color: var(--fourthColor);
}

.footer {
    max-width: 100%;
}


.footer__wave {
    margin-top: -200px;
    display: block;
}

.footer__mountains {
    display: none;
}



/* QUERIES DOWN FROM HERE */



@media screen and (max-width: 1292px) {

    .product__card--left {
        max-height: 600px;
        min-height: unset;
    }

    .product__card--almostlast {
        max-height: 600px;
    }

    .product__card--last {
        max-height: 600px;
    }

    .product__image--left {
        max-height: 300px;
    }

    .product__image--almostlast {
        max-height: 300px;
    }
    

    .footer__wave {
        display: none;
    }

    .footer__mountains {
        display: block;
    }
        
}


@media screen and (max-width: 1169px) {

    .header {
        display: flex;
        height: 80px;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }

    .header__hero {
        padding-left: unset;
    }
    
    .header__nav {
        width: auto;
        position: unset;
    }
    
    
    .header__ul {
        flex-direction: row;
        margin: 0 1rem 0 1rem;
    }
    
    .header__hyphen {
        display: none;
    }


    .product {
        max-width: unset;
        position: unset;
        column-gap: 10px;
        padding-top: 40px;
        margin: 0 20px;
    }

}


@media screen and (max-width: 600px) {


    .header {
        font-size: var(--fontSizeFourth);
        width: 100%;
        justify-content: space-around;
        margin: unset;
    }

    .header__ul {
        gap: unset;
        margin: 80px 0;
    }


    .header__hero {
        align-items: center;
    }


    .header__button {
        display: none;
    }

    .header__button--main, .header__button--ham {
        display: unset;
    }


    #header__ham {
        display: unset;
    }

    .product {
        display: grid;
        grid-template-columns: minmax(330px, 1fr);
        row-gap: 40px;
        margin-top: 50px;
        padding-top: unset;
    }

    .product__card {
        max-width: 250px;
        max-height: min-content;
        justify-self: center;
    }


    .product__text {
        max-width: 250px;
    }
}